<p id="notice"><%= notice %></p>

<p>
  <strong>Groupleader:</strong>
  <%= @sabha.groupleader %>
</p>

<p>
  <strong>Karyakarta:</strong>
  <%= @sabha.karyakarta %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @sabha.reference %>
</p>

<p>
  <strong>Sub reference:</strong>
  <%= @sabha.sub_reference %>
</p>

<p>
  <strong>Direct reference:</strong>
  <%= @sabha.direct_reference %>
</p>

<p>
  <strong>Pooja:</strong>
  <%= @sabha.pooja %>
</p>

<p>
  <strong>Amrish:</strong>
  <%= @sabha.amrish %>
</p>

<p>
  <strong>Kanthi:</strong>
  <%= @sabha.kanthi %>
</p>

<%= link_to 'Edit', edit_sabha_path(@sabha) %> |
<%= link_to 'Back', sabhas_path %>
